/* margin top creates as much vertical space as possible so that it can go to the bottom */

.github {
  margin-top: auto;
  align-self: center;
  margin-bottom: 20px;
}

.github a {
  text-decoration: none;
}
