.menu {
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 350px;

  display: flex;
  flex: 1;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;

  background-color: rgba(33, 33, 33, 0.4);
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.title {
  margin-top: 5px;
  text-align: center;
  font-size: 2em;
  color: rgb(255, 83, 124);
  text-shadow: 2px 2px rgba(0, 0, 0, 1);
}

.sources {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  gap: 10px;

  flex-direction: column;

  text-decoration: none;
  color: white;
}
.sources p {
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  padding-bottom: 8px;
  width: 50%;
  border-bottom: 1px solid white;
}

.sources a {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(255, 83, 124);
  text-decoration: none;
}
.sources a:hover {
  color: white;
  border-bottom: 1px solid rgb(255, 83, 124);
}
