.videoList {
  margin-top: 50px;
  max-height: 250px;
  border-radius: 20px;
  padding: 10px;
  list-style-type: none;
  background-color: rgba(25, 25, 25, 0.8);
  line-height: 0.9em;
  overflow-y: scroll;
}

.videoList li {
  padding: 2px 2px 2px 15px;
  color: rgb(255, 183, 197);
  font-size: 0.75em;
  cursor: pointer;
  border-radius: 10px;
  font-weight: lighter;
  /* background-color: rgba(22, 22, 22, 0.8); */
}

.videoList li:hover {
  background-color: rgba(84, 84, 84, 1);
  font-weight: bold;
}

.videoList button {
  background-color: grey;
}

.icon {
  padding: 3px;
  font-size: 0.75em;
  color: rgb(255, 183, 197);
  cursor: pointer;
  float: left;
}
.icon:hover {
  color: rgb(255, 123, 197);
}
