.videoResponsive {
  /* position: fixed; */
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.videoforeground,
.videoResponsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
