@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

body {
  overflow: hidden;
  font-family: "Dosis", sans-serif;
}
.root {
  box-sizing: border-box;
}

.toggleVisible {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  /* color: cornflowerblue; */
}

.toggleVisible:hover {
  color: #ffb7c5;
}
