.volumeControl {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.label {
  color: white;
  padding: 10px;
  background: rgba(255, 83, 124, 0.5);
  border-radius: 5px;
}

.volume {
  color: rgba(255, 83, 124, 0.5);
}
